In [98]:
import pandas as pd
import numpy as np

In [99]:
dates = pd.date_range('20180101',periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,dtype='int64',columns=['A','B','C','D'])
print(df)

             A   B   C   D
2018-01-01   0   1   2   3
2018-01-02   4   5   6   7
2018-01-03   8   9  10  11
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23

In [100]:
print(df.A,'\n')
print(df['A'])
print(df['20180102':'20180102'])

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int64

2018-01-01     0
2018-01-02     4
2018-01-03     8
2018-01-04    12
2018-01-05    16
2018-01-06    20
Freq: D, Name: A, dtype: int64
            A  B  C  D
2018-01-02  4  5  6  7

In [101]:
print(df.loc['20180104'])

A    12
B    13
C    14
D    15
Name: 2018-01-04 00:00:00, dtype: int64

In [102]:
print(df.loc[:,['A','B']],'\n')
print(df.loc['20180104',['A','B']])

             A   B
2018-01-01   0   1
2018-01-02   4   5
2018-01-03   8   9
2018-01-04  12  13
2018-01-05  16  17
2018-01-06  20  21

A    12
B    13
Name: 2018-01-04 00:00:00, dtype: int64

In [103]:
print(df.iloc[3,1],'\n')      #选择第4行第2列
print(df.iloc[3:5,1:3],'\n')  #选择第4行到第5行 的 第2到3列
print(df.iloc[[1,3,5],1:3],'\n')   #选择第2，4，6行 的 第2到3列
print(df.iloc[3:5, [2,3]])    #选择第4行到第5行 的 第3列和第4列

13

             B   C
2018-01-04  13  14
2018-01-05  17  18

             B   C
2018-01-02   5   6
2018-01-04  13  14
2018-01-06  21  22

             C   D
2018-01-04  14  15
2018-01-05  18  19

In [104]:
print(df.ix[[1,3,5],['A','B']])

             A   B
2018-01-02   4   5
2018-01-04  12  13
2018-01-06  20  21

In [105]:
print(df[df['A']>8],'\n')
print(df[df.A>8])

             A   B   C   D
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23

             A   B   C   D
2018-01-04  12  13  14  15
2018-01-05  16  17  18  19
2018-01-06  20  21  22  23

In [106]:
df.iloc[2,2] = 1111
df.loc['20180101','B']=2222
print(df)

             A     B     C   D
2018-01-01   0  2222     2   3
2018-01-02   4     5     6   7
2018-01-03   8     9  1111  11
2018-01-04  12    13    14  15
2018-01-05  16    17    18  19
2018-01-06  20    21    22  23

In [107]:
df.B[df.A>4] = 0
print(df)

             A     B     C   D
2018-01-01   0  2222     2   3
2018-01-02   4     5     6   7
2018-01-03   8     0  1111  11
2018-01-04  12     0    14  15
2018-01-05  16     0    18  19
2018-01-06  20     0    22  23

In [108]:
df['D'] = np.nan
print(df)

             A     B     C   D
2018-01-01   0  2222     2 NaN
2018-01-02   4     5     6 NaN
2018-01-03   8     0  1111 NaN
2018-01-04  12     0    14 NaN
2018-01-05  16     0    18 NaN
2018-01-06  20     0    22 NaN

In [109]:
df['E'] = pd.Series(np.array([99,2,3,4,5,6]),index = dates)
df['F'] = pd.Series(np.arange(10,16),index = dates,dtype='float32')
print(df)

             A     B     C   D   E     F
2018-01-01   0  2222     2 NaN  99  10.0
2018-01-02   4     5     6 NaN   2  11.0
2018-01-03   8     0  1111 NaN   3  12.0
2018-01-04  12     0    14 NaN   4  13.0
2018-01-05  16     0    18 NaN   5  14.0
2018-01-06  20     0    22 NaN   6  15.0

In [110]:
df.ix[1:3,['B','C','D']] = np.nan
print(df)

             A       B     C   D   E     F
2018-01-01   0  2222.0   2.0 NaN  99  10.0
2018-01-02   4     NaN   NaN NaN   2  11.0
2018-01-03   8     NaN   NaN NaN   3  12.0
2018-01-04  12     0.0  14.0 NaN   4  13.0
2018-01-05  16     0.0  18.0 NaN   5  14.0
2018-01-06  20     0.0  22.0 NaN   6  15.0

In [111]:
df.dropna(
    axis=1,     # 0: 对行进行操作; 1: 对列进行操作
    how='all'   # 'any': 只要存在 NaN 就 drop 掉; 'all': 必须全部是 NaN 才 drop 
    )

             A       B     C   E     F
2018-01-01   0  2222.0   2.0  99  10.0
2018-01-02   4     NaN   NaN   2  11.0
2018-01-03   8     NaN   NaN   3  12.0
2018-01-04  12     0.0  14.0   4  13.0
2018-01-05  16     0.0  18.0   5  14.0
2018-01-06  20     0.0  22.0   6  15.0

In [112]:
df.isnull()

                A      B      C     D      E      F
2018-01-01  False  False  False  True  False  False
2018-01-02  False   True   True  True  False  False
2018-01-03  False   True   True  True  False  False
2018-01-04  False  False  False  True  False  False
2018-01-05  False  False  False  True  False  False
2018-01-06  False  False  False  True  False  False

In [113]:
df.fillna(value=0)

             A       B     C    D   E     F
2018-01-01   0  2222.0   2.0  0.0  99  10.0
2018-01-02   4     0.0   0.0  0.0   2  11.0
2018-01-03   8     0.0   0.0  0.0   3  12.0
2018-01-04  12     0.0  14.0  0.0   4  13.0
2018-01-05  16     0.0  18.0  0.0   5  14.0
2018-01-06  20     0.0  22.0  0.0   6  15.0