In [2]:
import pandas as pd
import numpy as np

In [6]:
s = pd.Series([1,3,6,np.nan,44,1],dtype = 'float32')
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float32

In [5]:
dates = pd.date_range('20160101', periods = 6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns = ['a','b','c','d'])
print(df)

                   a         b         c         d
2016-01-01  0.903127 -0.448120 -2.873916  0.478163
2016-01-02  0.409611  0.890832 -1.378341  0.994532
2016-01-03  1.624383 -0.187884 -0.770884 -1.128741
2016-01-04 -0.166808  0.090528  1.917002 -0.973733
2016-01-05  0.752126  0.281760 -1.017328  2.401029
2016-01-06  0.510689 -3.058445 -1.361649 -1.000717

In [37]:
df2 = pd.DataFrame({'A' : np.random.randn(4),
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo'})
print(df2,'\n')
print(df2.dtypes,'\n','experiment','\n')
print(df2.values,'\n')
print(df2.index,'\n')
print(df2.columns,'\n')
df2.describe()

          A          B    C  D      E    F
0  1.815121 2013-01-02  1.0  3   test  foo
1  0.954242 2013-01-02  1.0  3  train  foo
2 -0.779544 2013-01-02  1.0  3   test  foo
3 -0.035029 2013-01-02  1.0  3  train  foo

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object
 experiment

[[1.8151210464478338 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [0.9542423561506563 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']
 [-0.7795444004526694 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'foo']
 [-0.03502917295871796 Timestamp('2013-01-02 00:00:00') 1.0 3 'train' 'foo']]

Int64Index([0, 1, 2, 3], dtype='int64')

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

              A    C    D
count  4.000000  4.0  4.0
mean   0.488697  1.0  3.0
std    1.134146  0.0  0.0
min   -0.779544  1.0  3.0
25%   -0.221158  1.0  3.0
50%    0.459607  1.0  3.0
75%    1.169462  1.0  3.0
max    1.815121  1.0  3.0

In [38]:
print(df2.T)

                     0                    1                    2  \
A              1.81512             0.954242            -0.779544
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                    1                    1                    1
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A           -0.0350292
B  2013-01-02 00:00:00
C                    1
D                    3
E                train
F                  foo

In [42]:
print(df2.sort_index(axis=1, ascending=False))

     F      E  D    C          B         A
0  foo   test  3  1.0 2013-01-02  1.815121
1  foo  train  3  1.0 2013-01-02  0.954242
2  foo   test  3  1.0 2013-01-02 -0.779544
3  foo  train  3  1.0 2013-01-02 -0.035029

In [44]:
print(df2.sort_values(by='A', ascending=False))

          A          B    C  D      E    F
0  1.815121 2013-01-02  1.0  3   test  foo
1  0.954242 2013-01-02  1.0  3  train  foo
3 -0.035029 2013-01-02  1.0  3  train  foo
2 -0.779544 2013-01-02  1.0  3   test  foo